body {
  margin: 0;
}

.background {
  background-image: url("../../images/profilePic.jpg");
  background-size: cover;
  width: -webkit-fill-available;
  height: -webkit-fill-available;
  height: -moz-available;
  height: fill-available;
  height: -ms-available;
  width: -moz-available;
  width: fill-available;
  width: -ms-available;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.background .middle-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: -webkit-fill-available;
  margin-left: 10px;
  margin-right: 10px;
}

.background .profilePic {
  background-image: url("../../images/cory.jpg");
  height: 24em;
  width: 33em;
  background-size: cover;
}

.background .name-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.background .name-container .name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 39em;
}

.background .name-container .name h1 {
  font-family: "Mukta", sans-serif;
  color: aliceblue;
  font-size: 5em;
  text-shadow: 12px 13px black;
}

.background .name-container .name h2 {
  font-family: "Mukta", sans-serif;
  color: aliceblue;
  font-size: 3em;
  text-shadow: 12px 13px black;
}

.background .name-container .text {
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 23em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  color: aliceblue;
  background-color: #0000cdb5;
  padding: 20px;
  font-family: "Mukta", sans-serif;
}

.background .buttons {
  position: absolute;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: -webkit-fill-available;
  height: 6em;
}

.background .buttons button {
  width: 20em;
  background-color: mediumblue;
  border-radius: 50%;
  font-family: "Mukta", sans-serif;
  font-size: 20px;
  color: aliceblue;
  -webkit-transition: all 900ms ease;
  transition: all 900ms ease;
}

.background .buttons button:hover {
  border-radius: 40%;
  font-size: 25px;
  cursor: pointer;
}
/*# sourceMappingURL=landingPage.css.map */