.nav{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    top: 0;
    width: 100vw;
    height: 3em;
    background-color: mediumblue;;
    z-index: 1;


    #firstbtn{
        margin-left: 5px
    }

    button{
        height: 4vh;
        color: aliceblue;
        background-color: black;
        font-family: "Mukta", sans-serif;
        width: 7em;
    }
}