.landingPage {
  display: flex;

  .background {
    background-image: url("../images/profilePic.jpg");
    background-size: cover;
    height: -webkit-fill-available;
    width: -webkit-fill-available;
  }
}
